.login
	%h2 Sign up
	= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
		= f.error_notification
		.form-inputs
			%label Name
			= f.input :name, required: true, autofocus: true, label: false
			%label Email
			= f.input :email, required: true, label: false
			%label Password
			= f.input :password, required: true,  label: false
			%label Confirm Password
			= f.input :password_confirmation, required: true, label: false
		.form-actions
			= f.button :submit, "Sign up"

	= render "devise/shared/links"