= simple_form_for(@item) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :serial
    = f.input :date_lost
    = f.input :location
  .form-actions
    = f.button :submit