
.header.wrapper
  .search
    = form_tag(items_path, method:"get") do
      = text_field_tag :search, params[:search], placeholder: "Search for Locations, Serial Numbers or the Names of the items you are looking for"

  - if @items.blank?
    %p There are no hits for your search


  - @items.each do |item|
    .container
      .content
        .header
          = link_to item.name, item

        = item.user.name
        %span
          &bull;
        Posted 
        = time_ago_in_words(item.created_at)
      .footer
        = item.item_type

  = will_paginate @items, class: "will_paginate"
  %br/

