.content.wrapper
  %h1 Listing Items
  
  - @items.each do |item|
    .container
      .header
        = link_to item.name, item
      = item.details
      .footer
        .left
          = item.user.name
        .right
          = time_ago_in_words(item.created_at)
  %br/
  = link_to 'New Item', new_item_path
