.content.wrapper
  %h1
    = @item.name
  %p 
    = @item.details
  %p
    %strong Serial:
    = @item.serial
    %strong Date lost:
    = @item.date_lost
  %p
    %strong Location:
    = @item.location
  %p
    posted by
    = @item.user.name

    Date
    = time_ago_in_words(@item.created_at)
 
  %p
    %strong Type:
    = @item.item_type
  = link_to 'Edit', edit_item_path(@item)
  = link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }
  |
  \#{link_to 'Back', items_path}